@import url('https://fonts.googleapis.com/css?family=Margarine');
@import url(main.css);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: 'Margarine', cursive;
}
.container {
  width: 100%;
  text-align: center;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
} 

main{
  margin-top:100px;
  height: auto;
}
footer {
  background:#2B4D86;
  color: #fff;
  height: 70PX;  
  margin-top: 20px;
} 
/***Estilos generales***/
.p1{
	padding: 1rem;
}
.p2{
	padding: 2rem;
}

.m1{
	margin: 1%;
}
.text-justify{
	text-align: justify;
}
h1{
  color: crimson;
}
h2{
  color: #E3A90B;
}

.color-border{  
  border : 1px solid #2B4D86;  
}
.h-5{
	height: auto;
}

/***COLUMNAS****/
[class*= "col"] {
  float: left;    
}
/******* Mobile First ******/
.col-xs-12 { 
  width: 100%;  
}

.col-xs-6{
	width: 48%;
}
/******** Tablet ******/
@media (min-width: 768px) {
  .col-sm-3{
  	width: 31.3333%;
  }
  .col-sm-4{
    width: 30%;
  }
  .col-sm-8{
    width: 66%; 
  }

  .h-5{
	height: 500px;
  }

}

/* Desktop */
@media (min-width: 992px) {
	.col-md-5{
		width: 18%;
	}
}
/**************** PAGE INICIO **************/
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}
.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/***************** PAGE POKEDEX ***************/
/** Estilos a los botones ***/
.btn-select select {
	width: 300px;
	height: 50px;
	border-radius: 10px;
}
.card-item {
  border-radius: 25px;
  background: rgba(183,222,237,1);
  font-family: 'Margarine', cursive;
  color:#2B4D86;  
}
.grow:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/************* PAGE EVOLUTION *****************/
/*--------Formulario-------*/
form{
  border-radius: 4px;	
  border: 1px solid  #E3A90B;
  background-color: #f2f2f2;     
}
.form-group{
  padding: 1rem;
}

input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
  margin-top: 1rem;
}
button{
  background-color: #2B4D86;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  font-family: 'Concert One', cursive; 
}

/***** PAGE - Estadistica ******/

 



